<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes inclúidos en Angular - Usualmente en el Common Module</p>
</div>
<div class="grid">
  <div class="col-4">
    <p-card header="Uppercase">
      {{ nombreUpper | uppercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Lowercase">
      {{ nombreLower | lowercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Titlecase">
      {{ nombreTitle | titlecase }}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Fecha | Pipes</h1>
  <p>Pipes inclúidos en Angular - Usualmente en el Common Module</p>
</div>
<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short</li>
        <li>fecha | date:'long</li>
        <li>fecha | date:'dd/MM/yyyy HH:mm:ss'</li>
      </ul>
      <hr />
      <ul>
        <li>fecha | date:'long':'GMT-6'</li>
        <li>fecha | date:'long':'GMT-4'</li>
        <li>fecha | date:'long':'':'fr'</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card>
      <ul>
        <li>{{fecha}}</li>
        <li>{{fecha | date}}</li>
        <li>{{fecha | date:'short'}}</li>
        <li>{{fecha | date:'long'}}</li>
        <li>{{fecha | date:'dd/MM/yyyy HH:mm:ss'}}</li>
      </ul>
      <hr />
      <ul>
        <li>{{fecha | date:'long':'GMT-6'}}</li>
        <li>{{fecha | date:'long':'GMT-4'}}</li>
        <li>{{fecha | date:'long':'':'fr'}}</li>
      </ul>
    </p-card>
  </div>
</div>
